html {
  scroll-behavior: smooth;
  body {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 0.9em;
    color: #f0f0f0;

    a {
      text-decoration: none;
    }

    .upArrow,
    .downArrow {
      display: flex;
      justify-content: center;
      filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(88%)
        hue-rotate(16deg) brightness(116%) contrast(100%);
      left: 49%;
      position: absolute;
      margin: 0.5rem 0;
    }

    .upArrow {
      top: 0;
    }

    .downArrow {
      bottom: 0;
    }
  }
}
