@font-face {
    font-family: CollectionFree;
    src: url("../fonts/CollectionFree.otf")
}
@font-face {
    font-family: MClassicFont;
    src: url("../fonts/MClassicFont.ttf");
}
@import "global";
@import "reset";
@import "header";
@import "footer";
@import "main";
